name: test

on:
  push: ~
  pull_request:
    branches: [ '**' ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.14.x ]
        module: [ "money", "pricingEngine" ]

    runs-on: ubuntu-18.04

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run tests
        env:
          MODULE_NAME: ${{ matrix.module }}
        run: cd ${MODULE_NAME} && go test ./... -json > test-${MODULE_NAME}.json

      - name: Annotate tests
        if: always()
        uses: guyarb/golang-test-annotations@v0.3.0
        with:
          test-results: ${{ matrix.module }}/test-${{ matrix.module }}.json
